
    

</header>

<!-- register -->
<div class="register">
    <div class="container">
        <h2>Register Here</h2>
        <div class="login-form-grids">
            <h5>profile information</h5>
            <form action="#" method="post" #signupform = "ngForm">
                <input type="text" name="pname" #personame="ngModel" [(ngModel)]="pname" placeholder="Name of the owner" required=" " pattern="[a-zA-Z0-9\s]+">
                <span class="input" *ngIf="personame.invalid && personame.touched && personame.errors?.['pattern']">can fill only uppercase and lowercase letters</span><br/>
                <input type="text" name="pname" #personame="ngModel" [(ngModel)]="uname" placeholder="Buisness Name" required=" " pattern="[a-zA-Z0-9\s]+">
                <span class="input" *ngIf="personame.invalid && personame.touched && personame.errors?.['pattern']">can fill only uppercase and lowercase letters</span><br/>
                <input type="text" name="pname" #personame="ngModel" [(ngModel)]="address" placeholder= "Addresss" required=" " pattern="[a-zA-Z0-9\s]+">
                <span class="input" *ngIf="personame.invalid && personame.touched && personame.errors?.['pattern']">can fill only uppercase and lowercase letters</span><br/>
                <input type="text" name = "phone" [(ngModel)]="phone" #phonenumber="ngModel" placeholder="10 digit Phone Number" pattern="[6-9]{1}[0-9]{9}" required=" " >
                <span class="input" *ngIf="phonenumber.invalid && phonenumber.touched && phonenumber.errors?.['pattern']">invalid phone format</span>
            <div class="register-check-box">
                <div class="check">
                    <label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>Subscribe to Newsletter</label>
                </div>
            </div>
            <h6>Login information</h6>
                <input type="email" name = "email" [(ngModel)]="emailname" #textuname="ngModel" placeholder="Email Address" required=" " pattern="^[A-za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
                <span class="input" *ngIf="textuname.invalid && textuname.touched && textuname.errors?.['required']">Email is required </span>
                <span *ngIf="textuname.invalid && textuname.touched && textuname.errors?.['pattern']">Invalid email format</span>


                <input type="password" name = "password" #textpassname="ngModel" [(ngModel)]="pass" placeholder="atleast 6 letters, special characters are not allowed" required=" " pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$">
                <span class="input" *ngIf="textuname.invalid && textpassname.touched && textpassname.errors?.['required']">Password is required </span>
                <span class="input" *ngIf="textuname.valid && textpassname.touched && textpassname.errors?.['pattern']">invalid password format (no special characters, atleast one lowerecase,uppercase letter and a number)</span>
                <input type="password" name = "conpassword" #textpassname="ngModel"  [(ngModel)]="cpass" placeholder="Password Confirmation" required=" "  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" ><br/>
                <div class="register-check-box">
                    <div class="check">
                        <input type="checkbox" [(ngModel)]="termscbx" name="cbx1" value><i> </i> <b> I accept the terms and conditions</b>
                    </div>
                </div>
                <input type="submit" name = "button" value="Register" (click)="onsignup(signupform)"><br/>
                
                <!-- <input type="submit" name = "button" value="Register" (click)="onregister()"><br/> -->
            </form>
        </div>
    </div>
</div>
<!-- //register -->

</body>
</html>